opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
numpy==1.20.0
numba==0.55.1 
matplotlib==3.5.1
matplotlib-base==3.5.1
matplotlib-inline==0.1.2
matplotlib-scalebar==0.8.0
tqdm==4.63.0
scipy==1.7.3
scikit-learn==1.0.2
hdbscan==0.8.27
pillow==9.0.1
trackpy==0.5.0
pandas==1.4.1
glob2==0.7
contextlib2==0.6.0.post1
networkx==2.7.1
python-igraph==0.9.9
